body {
	font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans";
}

h1 {
	font-size: 4em;
}

.slogan {
	margin-bottom: 2em;
}

.logoheader {
	background-image: url("../images/bridge.png");
	background-position: center;
	height:400px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.jumbo-logo {
	float: right;
	width:350px;
	margin-top: 150px;
}

.jumbotron {
	background-color: #7ab800;
}

.jumbotron h2, h3, h4, h5, h6 {
	color: #FFFFFF;
}

.featurette h2 {
	font-size: 50px;
}

.highlight {
	color: #7ab800;
}

.marketing .col-lg-3 {
	text-align: center;
	margin-top: 2em;
}

.greybkg {
	background-color: #EEEEEE;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 400;
  line-height: 1;
  letter-spacing: -1px;
}

.lead {
	font-weight: 300;
	font-size: 26px;
}
